body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/questionmark.jpg);
    /* font-weight: bolder;
    color: #382929; */
}

.jumbotron {
    margin: 2%;
    padding: 2%;
}

#time-display {
    font-family: 'Share Tech Mono', monospace;
    font-weight: bolder;
    font-size: 26px;
    color: #466bc6;
}

#title {
    margin: 2%;
    text-align: center;
    font-family: 'Audiowide', cursive;
}

.btn-outline-secondary {
    font-size: small;
}

#start-trivia, #end-trivia, #again-trivia, #cont-button {
    margin: 2%;
}

#gif-img {
    margin: auto;
    padding: 2%;
}